.row__posters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribute items evenly with space between */
  }
  
.row__poster {
    width: calc(20% - 10px); /* Adjust this value to fit five posters per row */
    max-height: 350px; /* Adjust the maximum height of the posters */
    margin-top: 80px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 20px;
    transition: transform 300ms;   
}
  
.row__poster img {
    width: 100%; /* Ensure the image fills its container */
    height: 100%; /* Ensure the image fills its container */
    object-fit: contain;
}
  
.row__poster p{
    color: white;
    font-size: 15px;
}
.row__poster:hover {
    transform: scale(1.04);
    opacity: 1;
}
  
.movie__title {
    margin-top: 5px;
    font-size: 14px;
    text-align: center;
}
  
.title_head{
    left: 0px;
    margin-top: 45px;
    position: fixed;
    background-color: black;
    height: 50px;
    width: 100%;
    z-index: 100;
    margin-left: 10px;
  }

  .title_content{
    padding-left: 30px;
  }